*.csv
*.json
*.hcl
week_1_basics_n_setup/2_docker_sql/virt_env
week_1_basics_n_setup/2_docker_sql/ny_taxi_postgres_data
week_1_basics_n_setup/2_docker_sql/data_pgadmin
week_1_basics_n_setup/1_terraform/
week_2_workflow_orchestration/virt_env
